<!DOCTYPE html>

<html>
<head>   

    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119758173-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-119758173-1');
    </script>
</head>
<body>
    <div class="header">

    </div>

    
    <div class="content col-md px-5 py-5">
        @RenderBody()
    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")    
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/sections")
    @RenderSection("scripts", required: false)
</body>
</html>
