@model Worksheet.ViewModels.FullViewModel

<div class="standing-wrap col-md">
    <img src="~/Content/images/standing.jpg" />   
    
    <div class="games">
        <div class="d-inline-block w-10-5 h-100"></div>

        <div class="d-inline-block w-9-8 h-100">
            
                
            <div class="OneEigth">
                @Html.EditorFor(model => model.Standing.OneEigths[0].FirstCommand)
                @Html.ValidationMessageFor(model => model.Standing.OneEigths[0].FirstCommand, "", new { @class = "" })

                @Html.EditorFor(model => model.Standing.OneEigths[0].ScoreFirstCommand)
                @Html.ValidationMessageFor(model => model.Standing.OneEigths[0].ScoreFirstCommand, "", new { @class = "" })

                @Html.EditorFor(model => model.Standing.OneEigths[0].SecondCommand)
                @Html.ValidationMessageFor(model => model.Standing.OneEigths[0].SecondCommand, "", new { @class = "" })

                @Html.EditorFor(model => model.Standing.OneEigths[0].ScoreSecondCommand)
                @Html.ValidationMessageFor(model => model.Standing.OneEigths[0].ScoreSecondCommand, "", new { @class = "" })
                
            </div>

            <div class="OneEigth">
               @Html.EditorFor(model => model.Standing.OneEigths[1].FirstCommand)
               @Html.ValidationMessageFor(model => model.Standing.OneEigths[1].FirstCommand, "", new { @class = "" })

               @Html.EditorFor(model => model.Standing.OneEigths[1].ScoreFirstCommand)
               @Html.ValidationMessageFor(model => model.Standing.OneEigths[1].ScoreFirstCommand, "", new { @class = "" })

               @Html.EditorFor(model => model.Standing.OneEigths[1].SecondCommand)
               @Html.ValidationMessageFor(model => model.Standing.OneEigths[1].SecondCommand, "", new { @class = "" })

               @Html.EditorFor(model => model.Standing.OneEigths[1].ScoreSecondCommand)
               @Html.ValidationMessageFor(model => model.Standing.OneEigths[1].ScoreSecondCommand, "", new { @class = "" })
            </div>

            <div class="OneEigth">
                @Html.EditorFor(model => model.Standing.OneEigths[2].FirstCommand)
                @Html.ValidationMessageFor(model => model.Standing.OneEigths[2].FirstCommand, "", new { @class = "" })

                @Html.EditorFor(model => model.Standing.OneEigths[2].ScoreFirstCommand)
                @Html.ValidationMessageFor(model => model.Standing.OneEigths[2].ScoreFirstCommand, "", new { @class = "" })

                @Html.EditorFor(model => model.Standing.OneEigths[2].SecondCommand)
                @Html.ValidationMessageFor(model => model.Standing.OneEigths[2].SecondCommand, "", new { @class = "" })

                @Html.EditorFor(model => model.Standing.OneEigths[2].ScoreSecondCommand)
                @Html.ValidationMessageFor(model => model.Standing.OneEigths[2].ScoreSecondCommand, "", new { @class = "" })
            </div>

            <div class="OneEigth">
                @Html.EditorFor(model => model.Standing.OneEigths[3].FirstCommand)
                @Html.ValidationMessageFor(model => model.Standing.OneEigths[3].FirstCommand, "", new { @class = "" })

                @Html.EditorFor(model => model.Standing.OneEigths[3].ScoreFirstCommand)
                @Html.ValidationMessageFor(model => model.Standing.OneEigths[3].ScoreFirstCommand, "", new { @class = "" })

                @Html.EditorFor(model => model.Standing.OneEigths[3].SecondCommand)
                @Html.ValidationMessageFor(model => model.Standing.OneEigths[3].SecondCommand, "", new { @class = "" })

                @Html.EditorFor(model => model.Standing.OneEigths[3].ScoreSecondCommand)
                @Html.ValidationMessageFor(model => model.Standing.OneEigths[3].ScoreSecondCommand, "", new { @class = "" })
            </div>
            
        </div>

        <div class="d-inline-block w-9-8 h-100">
            <div class="OneQuarter">
                @Html.EditorFor(model => model.Standing.OneQuarters[0].FirstCommand)
                @Html.ValidationMessageFor(model => model.Standing.OneQuarters[0].FirstCommand, "", new { @class = "" })

                @Html.EditorFor(model => model.Standing.OneQuarters[0].ScoreFirstCommand)
                @Html.ValidationMessageFor(model => model.Standing.OneQuarters[0].ScoreFirstCommand, "", new { @class = "" })

                @Html.EditorFor(model => model.Standing.OneQuarters[0].SecondCommand)
                @Html.ValidationMessageFor(model => model.Standing.OneQuarters[0].SecondCommand, "", new { @class = "" })

                @Html.EditorFor(model => model.Standing.OneQuarters[0].ScoreSecondCommand)
                @Html.ValidationMessageFor(model => model.Standing.OneQuarters[0].ScoreSecondCommand, "", new { @class = "" })               
            </div>

            <div class="OneQuarter">
                @Html.EditorFor(model => model.Standing.OneQuarters[1].FirstCommand)
                @Html.ValidationMessageFor(model => model.Standing.OneQuarters[1].FirstCommand, "", new { @class = "" })

                @Html.EditorFor(model => model.Standing.OneQuarters[1].ScoreFirstCommand)
                @Html.ValidationMessageFor(model => model.Standing.OneQuarters[1].ScoreFirstCommand, "", new { @class = "" })

                @Html.EditorFor(model => model.Standing.OneQuarters[1].SecondCommand)
                @Html.ValidationMessageFor(model => model.Standing.OneQuarters[1].SecondCommand, "", new { @class = "" })

                @Html.EditorFor(model => model.Standing.OneQuarters[1].ScoreSecondCommand)
                @Html.ValidationMessageFor(model => model.Standing.OneQuarters[1].ScoreSecondCommand, "", new { @class = "" })
            </div>
        </div>

        <div class="d-inline-block w-10-5 h-100">

            <div class="Semifinal">
                @Html.EditorFor(model => model.Standing.Semifinals[0].FirstCommand)
                @Html.ValidationMessageFor(model => model.Standing.Semifinals[0].FirstCommand, "", new { @class = "" })

                @Html.EditorFor(model => model.Standing.Semifinals[0].ScoreFirstCommand)
                @Html.ValidationMessageFor(model => model.Standing.Semifinals[0].ScoreFirstCommand, "", new { @class = "" })

                @Html.EditorFor(model => model.Standing.Semifinals[0].SecondCommand)
                @Html.ValidationMessageFor(model => model.Standing.Semifinals[0].SecondCommand, "", new { @class = "" })

                @Html.EditorFor(model => model.Standing.Semifinals[0].ScoreSecondCommand)
                @Html.ValidationMessageFor(model => model.Standing.Semifinals[0].ScoreSecondCommand, "", new { @class = "" })               
            </div>

        </div>

        <div class="d-inline-block w-19 h-100">

            <div class="Finall">
                @Html.EditorFor(model => model.Standing.Final.FirstCommand)
                @Html.ValidationMessageFor(model => model.Standing.Final.FirstCommand, "", new { @class = "" })

                @Html.EditorFor(model => model.Standing.Final.ScoreFirstCommand)
                @Html.ValidationMessageFor(model => model.Standing.Final.ScoreFirstCommand, "", new { @class = "" })

                @Html.EditorFor(model => model.Standing.Final.SecondCommand)
                @Html.ValidationMessageFor(model => model.Standing.Final.SecondCommand, "", new { @class = "" })

                @Html.EditorFor(model => model.Standing.Final.ScoreSecondCommand)
                @Html.ValidationMessageFor(model => model.Standing.Final.ScoreSecondCommand, "", new { @class = "" })                
            </div>

            <div class="ThirdPlace">
                @Html.EditorFor(model => model.Standing.ThirdPlace.FirstCommand)
                @Html.ValidationMessageFor(model => model.Standing.ThirdPlace.FirstCommand, "", new { @class = "" })

                @Html.EditorFor(model => model.Standing.ThirdPlace.ScoreFirstCommand)
                @Html.ValidationMessageFor(model => model.Standing.ThirdPlace.ScoreFirstCommand, "", new { @class = "" })

                @Html.EditorFor(model => model.Standing.ThirdPlace.SecondCommand)
                @Html.ValidationMessageFor(model => model.Standing.ThirdPlace.SecondCommand, "", new { @class = "" })

                @Html.EditorFor(model => model.Standing.ThirdPlace.ScoreSecondCommand)
                @Html.ValidationMessageFor(model => model.Standing.ThirdPlace.ScoreSecondCommand, "", new { @class = "" })                
            </div>

        </div>

        <div class="d-inline-block w-10-2 h-100">

            <div class="Semifinal custom">
                @Html.EditorFor(model => model.Standing.Semifinals[1].FirstCommand)
                @Html.ValidationMessageFor(model => model.Standing.Semifinals[1].FirstCommand, "", new { @class = "" })

                @Html.EditorFor(model => model.Standing.Semifinals[1].ScoreFirstCommand)
                @Html.ValidationMessageFor(model => model.Standing.Semifinals[1].ScoreFirstCommand, "", new { @class = "" })

                @Html.EditorFor(model => model.Standing.Semifinals[1].SecondCommand)
                @Html.ValidationMessageFor(model => model.Standing.Semifinals[1].SecondCommand, "", new { @class = "" })

                @Html.EditorFor(model => model.Standing.Semifinals[1].ScoreSecondCommand)
                @Html.ValidationMessageFor(model => model.Standing.Semifinals[1].ScoreSecondCommand, "", new { @class = "" })
            </div>

        </div>

        <div class="d-inline-block w-9-8 h-100">

            <div class="OneQuarter">
                @Html.EditorFor(model => model.Standing.OneQuarters[2].FirstCommand)
                @Html.ValidationMessageFor(model => model.Standing.OneQuarters[2].FirstCommand, "", new { @class = "" })

                @Html.EditorFor(model => model.Standing.OneQuarters[2].ScoreFirstCommand)
                @Html.ValidationMessageFor(model => model.Standing.OneQuarters[2].ScoreFirstCommand, "", new { @class = "" })

                @Html.EditorFor(model => model.Standing.OneQuarters[2].SecondCommand)
                @Html.ValidationMessageFor(model => model.Standing.OneQuarters[2].SecondCommand, "", new { @class = "" })

                @Html.EditorFor(model => model.Standing.OneQuarters[2].ScoreSecondCommand)
                @Html.ValidationMessageFor(model => model.Standing.OneQuarters[2].ScoreSecondCommand, "", new { @class = "" })
            </div>

            <div class="OneQuarter">
                @Html.EditorFor(model => model.Standing.OneQuarters[3].FirstCommand)
                @Html.ValidationMessageFor(model => model.Standing.OneQuarters[3].FirstCommand, "", new { @class = "" })

                @Html.EditorFor(model => model.Standing.OneQuarters[3].ScoreFirstCommand)
                @Html.ValidationMessageFor(model => model.Standing.OneQuarters[3].ScoreFirstCommand, "", new { @class = "" })

                @Html.EditorFor(model => model.Standing.OneQuarters[3].SecondCommand)
                @Html.ValidationMessageFor(model => model.Standing.OneQuarters[3].SecondCommand, "", new { @class = "" })

                @Html.EditorFor(model => model.Standing.OneQuarters[3].ScoreSecondCommand)
                @Html.ValidationMessageFor(model => model.Standing.OneQuarters[3].ScoreSecondCommand, "", new { @class = "" })
            </div>

        </div>

        <div class="d-inline-block w-9-8 h-100">

            <div class="OneEigth">
                @Html.EditorFor(model => model.Standing.OneEigths[4].FirstCommand)
                @Html.ValidationMessageFor(model => model.Standing.OneEigths[4].FirstCommand, "", new { @class = "" })

                @Html.EditorFor(model => model.Standing.OneEigths[4].ScoreFirstCommand)
                @Html.ValidationMessageFor(model => model.Standing.OneEigths[4].ScoreFirstCommand, "", new { @class = "" })

                @Html.EditorFor(model => model.Standing.OneEigths[4].SecondCommand)
                @Html.ValidationMessageFor(model => model.Standing.OneEigths[4].SecondCommand, "", new { @class = "" })

                @Html.EditorFor(model => model.Standing.OneEigths[4].ScoreSecondCommand)
                @Html.ValidationMessageFor(model => model.Standing.OneEigths[4].ScoreSecondCommand, "", new { @class = "" })
            </div>

            <div class="OneEigth">
                @Html.EditorFor(model => model.Standing.OneEigths[5].FirstCommand)
                @Html.ValidationMessageFor(model => model.Standing.OneEigths[5].FirstCommand, "", new { @class = "" })

                @Html.EditorFor(model => model.Standing.OneEigths[5].ScoreFirstCommand)
                @Html.ValidationMessageFor(model => model.Standing.OneEigths[5].ScoreFirstCommand, "", new { @class = "" })

                @Html.EditorFor(model => model.Standing.OneEigths[5].SecondCommand)
                @Html.ValidationMessageFor(model => model.Standing.OneEigths[5].SecondCommand, "", new { @class = "" })

                @Html.EditorFor(model => model.Standing.OneEigths[5].ScoreSecondCommand)
                @Html.ValidationMessageFor(model => model.Standing.OneEigths[5].ScoreSecondCommand, "", new { @class = "" })
            </div>

            <div class="OneEigth">
                @Html.EditorFor(model => model.Standing.OneEigths[6].FirstCommand)
                @Html.ValidationMessageFor(model => model.Standing.OneEigths[6].FirstCommand, "", new { @class = "" })

                @Html.EditorFor(model => model.Standing.OneEigths[6].ScoreFirstCommand)
                @Html.ValidationMessageFor(model => model.Standing.OneEigths[6].ScoreFirstCommand, "", new { @class = "" })

                @Html.EditorFor(model => model.Standing.OneEigths[6].SecondCommand)
                @Html.ValidationMessageFor(model => model.Standing.OneEigths[6].SecondCommand, "", new { @class = "" })

                @Html.EditorFor(model => model.Standing.OneEigths[6].ScoreSecondCommand)
                @Html.ValidationMessageFor(model => model.Standing.OneEigths[6].ScoreSecondCommand, "", new { @class = "" })
            </div>

            <div class="OneEigth">
                @Html.EditorFor(model => model.Standing.OneEigths[7].FirstCommand)
                @Html.ValidationMessageFor(model => model.Standing.OneEigths[7].FirstCommand, "", new { @class = "" })

                @Html.EditorFor(model => model.Standing.OneEigths[7].ScoreFirstCommand)
                @Html.ValidationMessageFor(model => model.Standing.OneEigths[7].ScoreFirstCommand, "", new { @class = "" })

                @Html.EditorFor(model => model.Standing.OneEigths[7].SecondCommand)
                @Html.ValidationMessageFor(model => model.Standing.OneEigths[7].SecondCommand, "", new { @class = "" })

                @Html.EditorFor(model => model.Standing.OneEigths[7].ScoreSecondCommand)
                @Html.ValidationMessageFor(model => model.Standing.OneEigths[7].ScoreSecondCommand, "", new { @class = "" })
            </div>

        </div>

        <div class="d-inline-block w-10-5 h-100"></div>
    </div> 
</div>

